In [6]:
import pandas as pd

data = pd.read_csv("creditcard.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [7]:
data.shape

(93181, 31)

In [8]:
data.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [9]:
data["Class"].value_counts()

Class
0.0    92967
1.0      213
Name: count, dtype: int64

In [10]:
df = data.copy()
df = df.rename(columns={"Class": "bad_outcome", "Amount": "purchase_amount"})
df[["purchase_amount", "bad_outcome"]].head()

   purchase_amount  bad_outcome
0           149.62          0.0
1             2.69          0.0
2           378.66          0.0
3           123.50          0.0
4            69.99          0.0

In [11]:
df["approved"] = df["purchase_amount"] <= 200
df[["purchase_amount", "approved", "bad_outcome"]].head()

   purchase_amount  approved  bad_outcome
0           149.62      True          0.0
1             2.69      True          0.0
2           378.66     False          0.0
3           123.50      True          0.0
4            69.99      True          0.0

In [12]:
df["approved"].value_counts(normalize=True)

approved
True     0.885578
False    0.114422
Name: proportion, dtype: float64

In [13]:
approved_df = df[df["approved"] == True]
approved_df["bad_outcome"].mean()

np.float64(0.0022419079242356308)

In [14]:
df["approved_500"] = df["purchase_amount"] <= 500

approval_rate_500 = df["approved_500"].mean()

approved_500_df = df[df["approved_500"] == True]
bad_rate_500 = approved_500_df["bad_outcome"].mean()

approval_rate_500, bad_rate_500

(np.float64(0.962749916828538), np.float64(0.0022405528926541076))

In [15]:
df["approved_all"] = True

approval_rate_all = df["approved_all"].mean()

bad_rate_all = df["bad_outcome"].mean()

approval_rate_all, bad_rate_all

(np.float64(1.0), np.float64(0.0022858982614294915))

## Business Recommendation

Increasing BNPL purchasing power from $200 to $500 significantly improves approval rates
while maintaining a stable bad outcome rate. Approving all purchases introduces additional
risk without proportional benefit.

Recommendation: Implement capped purchasing power to balance growth and credit risk.